body {
    background-color: lightblue;
}

.logo{
    margin-top: 2rem;
}

.margen{
    margin-top: 2rem;
}

.MuiPaper-root {
    margin-top: 1rem;
    background-color: #46bde4 !important;
}

.MuiGrid-item{
    margin-top: 1rem !important;
}
